<<<<<<< HEAD
.section {
  padding-top: 60px;
  min-height: 100vh;
  box-sizing: border-box;
  background: #f8f9fa;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 20px;
  box-sizing: border-box;
}

/* 상단 네비,글쓰기 */
.top_nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

/* 카테고리 */
.category {
}
.category ul {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, minmax(auto, auto));
  grid-gap: 0 10px;
}
.category ul li {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  text-align: center;
  line-height: 40px;
  box-sizing: border-box;
  background: #e5edfe;
  cursor: pointer;
  border-radius: 30px;
}
.category ul li:last-child {
  margin-right: 0;
}
.category ul li em {
  color: #2d8efe;
}

/* 글쓰기 */
.writing {
}
.writing .btn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(90deg, #6e8efb, #6253e1);
  color: #fff;
  cursor: pointer;
}
.writing .btn em {
  font-weight: 600;
  font-size: 16px;
}
.writing .btn .icon {
  margin-right: 5px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .container {
    padding: 30px 10px;
  }
  .top_nav {
    flex-direction: column;
  }
  .writing {
    margin-top: 10px;
    align-self: flex-end;
  }
}

@media (max-width: 500px) {
  .category ul {
    grid-gap: 0 5px;
  }
  .category ul li {
    padding: 0 10px;
    border-radius: 5px;
  }
}

@media (max-width: 380px) {
  .category ul li {
    padding: 0 5px;
  }
=======
.section {padding-top: 60px;min-height: 100vh;box-sizing: border-box;background: #f8f9fa;}
.container {max-width: 1440px;margin: 0 auto;padding: 30px 20px;box-sizing: border-box;}

/* 상단 네비,글쓰기 */
.top_nav {margin-top: 30px;display: flex;justify-content: space-between;}

/* 카테고리 */
.category {}
.category ul {display: flex;flex-wrap: wrap;}
.category ul li {height: 40px;padding: 0 20px;margin: 0 10px 10px 0;line-height: 40px;box-sizing: border-box;background: #e5edfe;cursor: pointer;border-radius: 30px;}
.category ul li:last-child {margin-right: 0;}
.category ul li em {color: #2d8efe;}

/* 글쓰기 */
.writing {}
.writing .btn {width: 100px;height: 40px;border-radius: 20px;background: linear-gradient(90deg, #6e8efb, #6253e1);color: #fff;cursor: pointer;}
.writing .btn em {font-weight: 600;font-size: 16px;}
.writing .btn .icon {margin-right: 5px;font-size: 16px;}
.section {padding-top: 60px;min-height: 100vh;box-sizing: border-box;background: #f8f9fa;}
.container {max-width: 1440px;margin: 0 auto;padding: 30px 20px;box-sizing: border-box;}

/* 상단 네비,글쓰기 */
.top_nav {margin-top: 30px;display: flex;justify-content: space-between;}

/* 카테고리 */
.category {}
.category ul {display: grid;flex-wrap: wrap;grid-template-columns: repeat(5, minmax(auto, auto));grid-gap: 0 10px;}
.category ul li {width: 100%;height: 40px;padding: 0 20px;text-align: center;line-height: 40px;box-sizing: border-box;background: #e5edfe;cursor: pointer;border-radius: 30px;}
.category ul li:last-child {margin-right: 0;}
.category ul li em {color: #2d8efe;}


@media (max-width: 767px) {
  .container {padding: 30px 10px;}
  .top_nav {flex-direction: column;}
  .writing {margin-top: 10px;align-self: flex-end;}
}

@media (max-width: 530px) {
  .category ul {grid-gap: 0 5px;}
  .category ul li {padding: 0 10px;border-radius: 5px;}
}

@media (max-width: 410px) {
  .category ul li {padding: 0 5px;}
  .category ul li em{font-size: 13px;}
>>>>>>> 90d162a6bad55ca2549583c22fcc668cc0fba327
}
