.section {
  min-height: 100vh;
  box-sizing: border-box;
  background: #f8f9fa;
  margin: 80px 200px;
  width: fit-content;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 769px) {
  .section {
    margin: 0;
  }
  .container {
    margin: 0;
  }
}
