.firstsection {
  width: 100%;
  height: 182px;
}
.categoryBox {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.select {
  width: 100px;
  height: 40px;
  border-radius: 0.2rem;
  border: 1px solid;
  padding-left: 10px;
  background-color: white;
  cursor: pointer;
}
.btn {
  width: 100px;
  height: 40px;
  border-radius: 0.2rem;
  background-image: linear-gradient(to right, #5b79fd, #4c3ddd);
  color: white;
  cursor: pointer;
}
.photoupload {
  width: 100px;
  height: 100px;
  margin-top: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1.5px dashed black;
  border-radius: 0.5rem;
  background-color: #f6f6f6;
  cursor: pointer;
}
.secondsection {
  width: 100%;
  height: fit-content;
}
textarea {
  width: 96.3%;
  height: 228px;
  padding: 10px 17px;
  resize: none;
}

@media screen and (max-width: 769px) {
  textarea {
    width: 93%;
    height: 180px;
  }
  .secondsection {
    width: 96%;
  }
}
