.container {
  width: 100vw;
  height: 100vh;
}
.innerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.categoryContainer {
  width: 10%;
  height: 100%;
  position: fixed;
  margin-top: 80px;
  font-size: 1.4rem;
}
.categoryitem {
  width: 80%;
  height: fit-content;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categoryitem > div {
  display: flex;
  align-items: center;
}
.categoryspan {
  margin-left: 15px;
  font-size: 1rem;
}

.circle {
  background-color: red;
  width: 6px;
  height: 6px;
  border-radius: 5px;
}

.outletContainer {
  margin: 80px auto;
  width: 50%;
  height: 100%;
  font-size: 3rem;
}

@media screen and (max-width: 780px) {
  .categoryContainer {
    width: 100%;
    height: 8%;
    background-color: green;
    position: fixed;
  }
  .outletContainer {
    margin: 130px auto;
    width: 100%;
    height: 100%;
    background-color: red;
  }
}
