.user_info {
}

/* 로그인X */
.non_login {
}
.non_login ul {
  display: flex;
}
.non_login ul li {
  margin-right: 30px;
  box-sizing: border-box;
  position: relative;
}
.non_login ul li::before {
  content: '';
  width: 1px;
  height: 10px;
  background: #555;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}
.non_login ul li:last-child {
  margin-right: 0;
}
.non_login ul li:last-child::before {
  display: none;
}
.non_login ul li em {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

/* 로그인O */
.on_login {
}
.on_login > ul {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.on_login > ul > li {
  margin-right: 30px;
  position: relative;
}
.on_login > ul > li::before {
  content: '';
  width: 1px;
  height: 10px;
  background: #555;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}
.on_login > ul > li:last-child {
  margin-right: 0;
}
.on_login > ul > li:last-child::before {
  display: none;
}
.on_login > ul > li em {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.on_login > ul > li .user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.on_login > ul > li .user .userImg {
  width: 35px;
  height: 35px;
  background: #555;
  margin-right: 10px;
  border-radius: 50%;
}
.on_login > ul > li .user .userImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.on_login > ul > li .icon_box ul {
  display: flex;
}
.on_login > ul > li .icon_box ul li {
  margin-right: 20px;
  position: relative;
}
.on_login > ul > li .icon_box ul li::before {
  content: '';
  width: 1px;
  height: 10px;
  background: #555;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}
.on_login > ul > li .icon_box ul li:last-child::before {
  display: none;
}
.on_login > ul > li .icon_box ul li:last-child {
  margin-right: 0;
}
.on_login > ul > li .icon_box ul li .icon {
  cursor: pointer;
}

/* 1024 이하 */
.mobile {
  display: none;
}

@media (max-width: 1023px) {
  .mobile {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 5px;
    display: block;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user_info.visible {
    position: absolute;
    top: 60px;
    right: -260px;
    transition: all 0.6s;
  }
  .user_info.active {
    right: 0;
  }

  .on_login {
    width: 250px;
    height: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .on_login ul {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .on_login > ul > li {
    margin-right: 0;
    margin: 5px 0;
  }
  .on_login > ul > li .user {
    flex-direction: column;
    align-items: center;
  }
  .on_login > ul > li .user .userImg {
    width: 100px;
    height: 100px;
    margin-right: 0;
  }
  .on_login > ul > li::before {
    display: none;
  }
  .on_login > ul > li .icon_box ul {
    display: flex;
    flex-direction: row;
  }
  .on_login > ul > li .icon_box ul li::before {
    display: none;
  }
  .on_login > ul > li .icon_box ul li .icon {
    font-size: 24px;
  }
}

@media (max-width : 767px){
  .non_login ul li{margin-right: 10px;}
  .non_login ul li::before{ height: 8px; right: -5px; }
  .non_login ul li em{font-size: 14px;}
}

@media (max-width : 450px){
  .non_login ul li em{font-size: 12px;}
}
