.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginContainer {
  width: 478px;
  height: 871px;
  border-radius: 1.6rem;
  padding: 10px 22px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inner {
  width: 100%;
  height: 100%;
}
.loginH1 {
  font-size: 46px;
  color: #231a53;
}
img {
  width: 33px;
  height: 38px;
}
.navBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.span {
  display: block;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #bab6cd;
}
.sectionForm {
  width: 100%;
  height: 478px;
}

.sectionSocial {
  width: 100%;
  height: 200px;
}
