.join_form{}
.join_form .join_input_box{margin-bottom: 10px;}
.join_form .join_input_box input{width: 340px; height: 50px; border: 1px solid #65759a; border-radius: 5px; padding: 0 10px; box-sizing: border-box;}

.join_form .password{display: flex; flex-direction: column;}
.join_form .password input:nth-child(2){margin-top: -1px;}

/* 경고 text */
.warning{display: flex; align-items: center; color: red;}
.warning p{margin-left: 5px;}



/* 가입 완료 버튼 */
.join_form button{width: 100%;height: 50px; color: #fff; font-size: 16px;font-weight: 700; border-radius: 5px; margin-top: 20px; cursor: pointer;}
.join_form button.join_btt1{background: #1F8CE6;}
.join_form button.join_btt2{background: #abd5f7; cursor: default;}