.form {
  display: flex;
  flex-direction: column;
  background-color: green;
  height: 100%;
}
.span {
  font-size: 16px;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}
.input {
  height: 50px;
  width: 90%;
  border-radius: 1.2rem;
  padding: 0px 14px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.passwordBox {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 30px 0px;
  font-size: 16px;
}

.btn {
  width: 95%;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 1.2rem;
  font-size: 16px;
}
