.container {
  width: 100vw;
  height: 100vh;
}
.innerContainer {
  width: 1031px;
  margin: 90px auto;
  height: 800px;
}
.firstsection {
  width: 100%;
  height: 193px;
}
.categoryBox {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.select {
  width: 100px;
  height: 40px;
  border-radius: 0.2rem;
  border: 1px solid;
  padding-left: 10px;
  background-color: white;
  cursor: pointer;
}
.btn {
  width: 100px;
  height: 40px;
  border-radius: 0.2rem;
  background-image: linear-gradient(to right, #5b79fd, #4c3ddd);
  color: white;
  cursor: pointer;
}
.photoupload {
  width: 100px;
  height: 100px;
  margin-top: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1.5px dashed black;
  border-radius: 0.5rem;
  background-color: #f6f6f6;
  cursor: pointer;
}
.secondsection {
  width: 1008px;
  height: 228px;
}
textarea {
  width: 99.5%;
  height: 228px;
  resize: none;
  padding: 10px;
}
.thirdsection {
  width: 100%;
  height: 359px;
}
.gridBox {
  height: 359px;
  display: grid;
  grid-template-columns: repeat(5, 196px);
  place-items: center;
  justify-content: center;
  gap: 11px;
  margin-top: 47px;
  width: fit-content;
}
.gridItem {
  width: 196px;
  height: 176px;
  background-color: skyblue;
  border-radius: 0.4rem;
  cursor: pointer;
}
